main {
	background: #373131;
	width: 100%;
	height: 40em;
	display: flex;
  	flex-direction: column;
}
.text-center {
	text-align: center;
}
.aboutUs-text {
	text-align: center;
}


@media only screen and (max-width: 600px) { 

	main {
    	background: #373131;
    	width: 100%;
    	height: max-content;
	}	
}