.main-div {
	border: 1px solid black;
	margin: 7% auto;
	width: 35%;
	font-size: larger;
	padding: 10px 0px;
}
.red-color {
	color: red;
	margin-left: 5px;
}
.hed-width {
	text-align: left;
	padding: 0px 15px ;
}
.center-align {
	padding: 10px ;
	text-align: center;
}
.col-width {
	width: 66%;
}
.input-width {
	width: 92%;
}
select {
	width: 49%;
}
.button {
	padding: 7px 10px;
}

@media only screen and (max-width: 600px) { 
	.main-div {
		width: 85%;
	    text-align: center;
	    font-size: larger;
	}
}