.product-list {
  float: left;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.product-div {
  float: left;
  height: 25em;
  width: 20%;
  margin: 20px 20px;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
}
.product-image-page {
  width:inherit;
  height:15em;
}
